
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.game{
     height: 300px;
     width: 300px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    border-radius: 5%;
}
.box{
    background-color: rgb(156, 199, 29);
    height: 95px;
    width: 95px;
    border-radius: 5%;
    margin-right: 5px;
    font-size:xx-large;
} 
.hide{
    display: none;
}